<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UpdateNurse</title>
</head>
<body>
<h1>Please Provide the Id of the Nurse you would like to update</h1>
<form  method="post" th:action="@{/UpdateNurse}" th:object="${nurse}">
  EmployeeID:
  <input type ="text" th:field  = "*{EmployeeId}"/><br/>
  Gender: <input type = "text" th:field = *{Gender} /><br/>
  name: <input type = "text" th:field = *{name} /><br/>
  age: <input type = "text" th:field = *{age} /><br/>
  <input type="submit" value ="Submit" />
</form>
</body>
</html>